#shop--show
  .container
    .row
      .col-xs-12
        .logo
          %span.logo__text--big<> L
          unch
          %span.logo__text--big<> k
          eeper
        %h2 店舗プロフィール
        %table.table
          %tr
            %th 名前
            %td(colspan="2") ABCバーガー
          %tr
            %th(rowspan="3") 住所
            %td 県
            %td XX
          %tr
            %td 市区町村
            %td XX
          %tr
            %td その他
            %td XX-X-X
          %tr
            %th 電話番号
            %td(colspan="2") xxx-xxxx-xxx
          %tr
            %th Eメール
            %td(colspan="2") xxx@xxxx.com
          %tr
            %th 営業時間
            %td(colspan="2") xx:xx 〜 xx:xx
        %h2 本日の注文
        %table.table
          %tr
            %th メニュー
            %th 名前
            %th 住所
            %th 配達時間
            %th 状態
          - @orders.each do |order|
            - plan = Plan.find(order.plan_id)
            - user = User.find(plan.user_id)
            - menu = Menu.find(order.menu_id)
            %tr
              %td
                = menu.name
              %td
                = user.name
              %td
                = user.full_address
              %td
                = order.delivery_range
              %td
                - if order.in_process?
                  %button.btn.btn-warning 発送
                - elsif order.dispatched?
                  %button.btn.btn-warning.disabled 発送済み
                - else
                  %button.btn.btn-warning.disabled キャンセル
