#shop--show
  .container
    .row
      .col-xs-12
        = link_to root_path, { class: "logo" } do
          = render "partials/logo"
        = link_to "ログアウト", destroy_shop_session_path, { method: :delete, class: "pull-right btn btn-danger margin-right" }
        .clearfix
        %h2 店舗プロフィール
        %table.table
          %tr
            %th 名前
            %td(colspan="2") ABCバーガー
          %tr
            %th(rowspan="3") 住所
            %td 県
            %td XX
          %tr
            %td 市区町村
            %td XX
          %tr
            %td その他
            %td XX-X-X
          %tr
            %th 電話番号
            %td(colspan="2") xxx-xxxx-xxx
          %tr
            %th Eメール
            %td(colspan="2") xxx@xxxx.com
          %tr
            %th 営業時間
            %td(colspan="2") xx:xx 〜 xx:xx
        %h2 本日の注文
        %table.table
          %tr
            %th メニュー
            %th 名前
            %th 住所
            %th 配達時間
            %th 状態
          %tr
            %td Aセット
            %td 山田　太郎
            %td 〇〇県〇〇町1-2-4-5
            %td 11:00 〜 12:00
            %td
              %button.btn.btn-warning.disabled 発送済み
          %tr
            %td Aセット
            %td 山田　太郎
            %td 〇〇県〇〇町1-2-4-5
            %td 11:00 〜 12:00
            %td
              %button.btn.btn-warning 発送
          %tr
            %td Aセット
            %td 山田　太郎
            %td 〇〇県〇〇町1-2-4-5
            %td 11:00 〜 12:00
            %td
              %button.btn.btn-warning 発送
