#welcome
  .container
    .row
      .col-xs-12
        .header.pull-right
          %a.header__shop-login(href="")
            店舗ログインはこちら
          %a.header__user-login(href="")
            ログイン
        .clearfix
        .logo
          %span.logo__text--big<> L
          unch
          %span.logo__text--big<> k
          eeper
        .registration
          %button.btn.btn-warning
            新規ユーザー登録
