#welcome
  .container
    .row
      .col-xs-12
        .header.pull-right
          = link_to "店舗ログインはこちら", new_shop_session_path, { class: "header__shop-login" }
          = link_to "ログイン", new_user_session_path, { class: "header__user-login" }
        .clearfix
        .logo
          = render "partials/logo"
        .registration
          = link_to "新規ユーザー登録", new_user_registration_path, { class: "btn btn-warning", role: "button" }
