<%= render "partials/shopheadbar" %>

<h1>Login</h1>

<%= render 'form' %>

<script type="text/javascript">
$(function() {
	<% if flash[:notice]%>
	    alert("<%= flash[:notice] %>");
    <% end %>
});
</script>




