//= require_self
//= require_tree .

@import "bootstrap-sprockets"
@import "bootstrap"

@media (min-width: 1200px)
  .container
    width: 970px

.logo
  font-size: 1.3em
  .logo__text--big
    color: #f0ad4e
    font-size: 2em
