#plan--index
  .container
    .row
      .col-xs-12
        = link_to root_path, { class: "logo pull-left" } do
          = render "partials/logo"
        = link_to "マイページ", user_path(current_user), { class: "pull-right btn btn-default" }
        .clearfix
        %h1.title 〇〇さんにお届けできるプラン一覧
        .plan
          %h2.plan__title 5日間　2000円プラン
          .plan__images
            %img(src="food1.jpg")
            %img(src="food2.jpg")
            %img(src="food3.jpg")
            %img(src="food4.jpg")
          .plan__shops
            提供店：ABCバーガー、DEFラーメン、海鮮GHI
          %a.pull-right.btn.btn-warning 詳しく見る
          .clearfix
        .plan
          %h2.plan__title 5日間　4000円プラン
          .plan__images
            %img(src="food1.jpg")
            %img(src="food2.jpg")
            %img(src="food3.jpg")
            %img(src="food4.jpg")
          .plan__shops
            提供店：ABCバーガー、DEFラーメン、海鮮GHI
          %a.pull-right.btn.btn-warning 詳しく見る
          .clearfix
        .plan
          %h2.plan__title 5日間　10000円プラン
          .plan__images
            %img(src="food1.jpg")
            %img(src="food2.jpg")
            %img(src="food3.jpg")
            %img(src="food4.jpg")
          .plan__shops
            提供店：ABCバーガー、DEFラーメン、海鮮GHI
          %a.pull-right.btn.btn-warning 詳しく見る
          .clearfix
